* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  /* background: #252839; */
}

/* Robot CSS */

.robot {
  position: absolute;
  left: 26rem;
  top: 13.3rem;
  animation: moving 1s linear infinite;
}

.container3 {
  display: none;
}

/* Logo */

.logo {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  width: 12%;
}

.logo:hover {
  width: 13.8%;
  animation: color-change 0.4s linear infinite;
}

.box {
  width: 43%;
  height: 72.5%;
  background: rgb(0, 255, 243);
  position: absolute;
  margin-left: 52rem;
  margin-top: 11rem;
  border: 2px solid;
  border-radius: 10px;
}

.container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

.head2 {
  display: flex;
  justify-content: center;
}

.container4 {
  position: absolute;
  left: 15px;
  top: 14rem;
  font-size: 25px;
  font-weight: bold;
  background: aquamarine;
  font-family: "Baloo Tamma 2", cursive;
  border-radius: 11px;
  border: 2px solid black;
  height: 53.5%;
  width: 25.6%;
  margin-top: -24px;
  padding: 2px 2px;
}

.enjoy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -0rem;
  margin-left: -9px;
  font-size: 1.3rem;
}

#btn {
  position: absolute;
  background: rgb(240, 204, 0);
  text-decoration: none;
  font-family: "Baloo Tamma 2", cursive;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  border-radius: 11px;
  border: 2px solid black;
  margin-left: 1rem;
  margin-top: 38rem;
  padding: 2.5px;
}

/* Heading */

.slide-right {
  position: absolute;
  margin-left: 38rem;
  margin-top: 3rem;
  border: 2px solid;
  border-radius: 5px;
  background: rgb(239 3 255);
  font-weight: bold;
  font-family: "Baloo Tamma 2", cursive;
  padding: 5px 33px;
}

.texts p.answer {
  text-align: right;
  animation: 2s slide-right;
  font-size: 16px;
}

.texts p.user {
  text-align: left;
  animation: 2s slide-left;
  font-size: 16px;
}

.butt {
  background: aquamarine;
  font-family: "Baloo Tamma 2", cursive;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  border-radius: 11px;
  border: 2px solid black;
  margin-left: 88rem;
  margin-top: 22px;
  padding: 7.5px;
  animation: color-change 10s linear infinite;
}

.texts p {
  font-weight: bold;
  font-family: "Baloo Tamma 2", cursive;
  border-radius: 4px;
  height: 6%;
  text-align: left;
  width: 100%;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  margin-top: 1rem;
  margin-left: -2rem;
}

p {
  animation: 0.5s slide-right;
  padding: 4.5px;
}

.ml11 {
  font-weight: 700;
  font-size: 1.2em;
  position: absolute;
  left: 39rem;
  top: 12rem;
  color: green;
  font-family: "Baloo Tamma 2", cursive;
  font-weight: bold;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.ml11 .line1 {
  top: 0;
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}

.ok {
  font-size: 2.4rem;
  position: absolute;
  left: 24.4rem;
  top: -4.6rem;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Baloo Tamma 2", cursive;
  font-weight: bold;
  color: red;
}

.ok2 {
  font-size: 2.4rem;
  position: absolute;
  left: 32rem;
  top: -4.6rem;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Baloo Tamma 2", cursive;
  font-weight: bold;
  color: red;
}

.listen {
  font-size: 2rem;
  left: 0.3rem;
  position: absolute;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.dissapear {
  animation: hide 1s forwards;
}

@keyframes hide {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes animate {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-20px);
  }
  40%, 100% {
    transform: translateY(0px);
  }
}

/* Key frames for animations */

@keyframes moving {
  0% {
    transform: translateY(-15px);
    filter: hue-rotate(0deg);
    transform: scale(260deg);
  }
  50% {
    transform: translateY(20px);
    transform: scale(260deg);
  }
  100% {
    transform: translateY(-15px);
    filter: hue-rotate(360deg);
    transform: scale(260deg);
  }
}

@keyframes color-change {
  0%, 100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

@keyframes slide-right {
  from {
    margin-left: -100%;
    /* width: 100%;  */
  }
  to {
    margin-left: 0%;
    /* width: 100%; */
  }
}

@keyframes slide-left {
  from {
    margin-left: 100%;
    /* width: 100%;  */
  }
  to {
    margin-left: 0%;
    /* width: 100%; */
  }
}